/**
    body标签选择器，body是选择器的名称，与标签的名称是一致
 */
body{
    margin: 0 5%;
    font-family: "微软雅黑";
    font-size: 14px;
}

table,td,th{
    border: 1px solid black;
    /**
        实现边框的合并操作
     */
    border-collapse: collapse;
}

table{
    width: 80%;
    font-size: 13px;
    margin: auto;
    text-align: center;
}

th{
    height: 50px;
    /**
        rgb(159,184,247)
     */
    background-color: #9FB8F7;
    font-size: 16px;
}

/**
   类选择器
   使用圆点来进行定义
 */
.txt_right{
    text-align: left;
    text-indent: 2em;
}

.bg_color{
    background-color: rgb(208,220,251);
}

tr:hover{
    background-color: darkgrey;
    cursor: pointer;
}

/***
    布局相关的定义
    Id选择器
 */
div{

}
#total{
    width: 1200px;
    margin: auto;
}
/**
    空格后面，跟随的两个选择器，表示找id是middle
    内部元素，内部id是left，right的两个元素
 */
#left, #right{
    height: 520px;
}
#left{
    width: 200px;
}
#right {
    width: 1000px;
}

#middle #left,#right{
    float: left;
}

#bottom {
    height: 80px;
    padding-top: 20px;
}

#bottom div{
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

#middle {
    overflow: hidden;
}

